.r-news-panel {
  width: 600px;
  margin: 100px auto;
}

.r-news-panel-header {
  display: flex;
  align-items: center;
  background: salmon;
  height: 65px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.r-news-panel-title {
  color: #fff;
  text-transform: uppercase;
}

.r-news-panel-icon-btn {
  display: flex;
  width: 65px;
  height: 65px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.r-news-panel-icon-btn:hover {
  cursor: pointer;
}

.r-news-panel-icon-bar {
  background: white;
  display: block;
  height: 10px;
  width: 40px;
  border-radius: 5px;
}

.r-news-panel-icon-bar:first-child {
  margin-bottom: 10px;
}

.r-news-panel-content {
  background: #d4d6cf;
  padding: 20px 40px;
}