r-news-panel {
  display: block;
  width: 70%;
  margin: 100px auto;
}

r-news-panel.loaded {
  animation-name: bounceInUp;
  animation-duration: 1s;
}

r-news-panel .r-news-panel-content {
  min-height: 400px;
}

r-list-item {
  display: block;
}

r-list-item.ng-enter {
  animation-name: bounceInLeft;
  animation-duration: .5s;
}

r-list-item.ng-enter-stagger {
  animation-delay: .1s;
  animation-duration: 0s;
}

@media screen and (max-width: 50em) {

  r-news-panel {
    width: 80%;
  }
}

@media screen and (max-width: 30em) {

  .r-news-page {
    margin: 0 15px;
  }

  r-news-panel {
    width: 100%;
  }

  .r-news-panel-title {
    font-size: 10px;
  }

  r-list-item-preview preview-description {
    font-size: 10px;
  }

  r-news-panel .r-news-panel-content {
    padding: 10px 20px;
  }

  r-list-item-full {
    flex-direction: column;
  }

  full-news-text-area {
    padding: 10px;
  }
}